.vscode/**
.vscode-test/**
dist/**
out/test/**
node_modules/**
src/**
.gitignore
.yarnrc
scripts/**
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
